@{
    ViewData["Title"] = "New";
}

@model IEnumerable<ActivityCenter.Models.DojoActivity>;

<div class="row">
    <div class="col-md-6">
        <h1>Dojo Activity Center</h1>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-1">
        <a href="Dashboard">Home</a>
    </div>
    <div class="col-md-1">
        <a href="Logout">Log off</a>
    </div>
</div>

<div class="row">
    @{
        <form action="/Join" method="POST">
        @foreach(var item in Model){
            <div class="row">
                <div class="col-md-6"> <h1>@item.Title</h1></div>
                <div class="col-md-6 text-right">
                    <input type="hidden" value=@item.DojoActivityID name="activityID">
                    <input type="submit" value="Join">
                </div>
            </div>
            <div class="row">
                <h3>Even Coordinator: @item.Creator.FirstName</h3>
            </div>
            <div class="row">
                <h3>Description</h3>
                <p>@item.Description</p>
            </div>
            <div class="row">
                <h3>Participants</h3>
            </div>
            @foreach(var person in @item.Participants){
                <p>@person.User.FirstName</p>
            }
        }
        </form>
    }
</div>